---
layout: base.njk
---
<section class="hero is-light">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Hacker News Karma Leaderboard
			</h1>

			<h2 class="subtitle">
				{{ dateObj.month }}/{{ dateObj.day }}/{{ dateObj.year }}
			</h2>
		</div>
	</div>
</section>

<section class="hero is-success">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				Top 20
			</h1>

			<h2 class="subtitle">
				The good ones
			</h2>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<table class="table is-striped is-hoverable is-fullwidth">
			<thead>
				<tr>
					<th>Pos</th>
					<th>Username</th>
					<th>Karma Gained</th>
				</tr>
			</thead>
			<tbody>
				{% for user in gainers %}
				<tr>
					<th>{{ loop.index }}</th>
					<th>{{ user.Username }}</th>
					<th>{{ user.diff }}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>

<section class="hero is-danger">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				Bottom 20
			</h1>

			<h2 class="subtitle">
				The bad ones
			</h2>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<table class="table is-striped is-hoverable is-fullwidth">
			<thead>
				<tr>
					<th>Pos</th>
					<th>Username</th>
					<th>Karma Lost</th>
				</tr>
			</thead>
			<tbody>
				{% for user in losers %}
				<tr>
					<th>{{ loop.index }}</th>
					<th>{{ user.Username }}</th>
					<th>{{ user.diff }}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
